.googleButton {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  color: #707375;
  text-align: center;
  width: 150px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 38px; /* 237.5% */
  cursor: pointer;
  margin: 0 auto;
}
