.form {
  margin: auto;
  max-width: 300px;
}

.form-container {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.google-button {
  width: 100%;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
}
