.formContainer {
  height: 100vh;
  background: linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
    url(../image/pic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding: 32px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.labelContainer {
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.loginButton {
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 20px 113px;
  font-weight: 600;
  line-height: normal;
  background: #ff6b08;
  cursor: pointer;
}

.googleButton {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  color: #707375;
  text-align: center;
  width: 150px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 38px; /* 237.5% */
  cursor: pointer;
}
