.formContainer {
  background: linear-gradient(rgba(9, 30, 63, 0.8), rgba(9, 30, 63, 0.8)),
    url(../image/pic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
  padding: 32px 20px;
}

.form {
}

.labelWrapper {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.labelContainer {
}

.label {
  display: block;
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input {
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  margin-top: 8px;
  background: #f5f7fa;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(29, 29, 27, 0.15) inset;
}

.required {
  color: #f25137;
}

.input::placeholder {
  color: #a6abb9;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.loginButton {
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  margin: 0 auto;
  font-weight: 600;
  line-height: normal;
  background: #ff6b08;
  cursor: pointer;
}

.loginButton:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.link {
  margin-top: 16px;
  display: block;
  color: #ff6b08;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #898f9f;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  gap: 4px;
  padding-top: 20px;
  padding-bottom: 12px;
}

.linkRegister {
  text-decoration: none;
  color: #ff6b08;
}
