.quoteContainer {
  /* Ваші стилі для внутрішнього контейнера тут */
}

.quoteTitle {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  max-width: 229px;
  padding-bottom: 16px;
}
.quoteTitle::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: rgba(9, 30, 63, 0.1);
}

.quoteAuthor {
  color: var(--primary-gray);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
